@use 'partials/variables' as *;
@use 'partials/mixin' as *;

@import '~bootstrap/scss/bootstrap';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:  $main-bg-color;
    color: white;
}

.debug {
    background-color: rgba($color: #ff0000, $alpha: 0.25);
}

.active {
    color: $main-color;
    border-bottom: 4px solid $main-color;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}



header{
    height: 120px;
    .container{
        height: 100%;
        @include centerFlex('vertical');
        justify-content: space-between;

        .logo{
            padding: 1rem 0;
            img{
                width: 80%;
            }
        }
        nav{
            height: 100%;

        }
        ul{
            list-style: none;
            display: flex;
            height: 100%;
            li{
                margin: 0 .5rem;
            }
            a{
                color: $header-link-color;
                height: 100%;
                @include centerFlex('vertical');
                text-decoration: none;
                text-transform: uppercase;
                font-size: .8rem;
                &:hover{
                    color: $main-color;
                    border-bottom: 4px solid $main-color;
                }
            }
        }
    }
}


.jumbotron{
    min-height: 400px;
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
    .jumbo-container{
        height: 400px;
        position: relative;
        margin-bottom: -.8rem;
        button{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $main-color;
            border: none;
            padding: .5rem 1rem;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}


// Footer

.footer-top {
    height: 375px;
    background-image: url(/resources/img/footer-bg.jpg);

    .container {
        height: 100%;
        display: flex;
        background-image: url(/resources/img/dc-logo-bg.png);
        background-position: right;
        background-repeat: no-repeat;

        .links {
            width: 50%;
            display: flex;

        }

        .link-1,
        .link-2,
        .link-3 {
            margin: 1.5rem 1rem;
        }

        .shop {
            margin-top: 1rem;
        }

        h3 {
            color: white;
            text-transform: uppercase;
            margin-bottom: .7rem;
        }

        ul {
            list-style: none;
        }

        li {
            margin: .3rem 0;
        }

        a {
            text-decoration: none;
            color: #959595;
            font-size: .8rem;
        }
    }
}

.footer-bottom {
    background-color: $footer-btm-color;
    height: 110px;

    .container {
        height: 100%;
        @include centerFlex('vertical');
        justify-content: space-between;

        button {
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 600;
            padding: 1rem;
            color: white;
            background-color: rgba($color: #000000, $alpha: 0);
            border: 2px solid $main-color;
            cursor: pointer;
        }

        .socials {
            display: flex;
            align-items: center;

            h2 {
                color: $main-color;
                text-transform: uppercase;
                margin-right: 1rem;
            }

            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 0 .5rem;
                }
            }
        }

    }
}
